<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Finley's Portfolio Website<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="l--body">

      <header class="l--header">
        <%= partial "/partials/header" %>
        <nav>
          <%= partial "/partials/navigation" %>
        </nav>
      </header>

      <div class="l--main" role="main">
        <%= yield %>
      </div>


    <footer class="l--footer">
      <%= partial "/partials/footer" %>
    </footer>
  </body>
</html>