---
title: Finley's Portfolio Website
---

<% blog.articles.each do |article| %>
  <article class="content">
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
    </h1>
    <h6>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h6>

    <%= yield %>

    <a href="<%= article.url %>">Read more</a>
  </article>
<% end %>